<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cladepa.contextmenu"
    android:versionCode="28"
    android:versionName="0.28-singlepass-winpersist-2026-08-27-1324">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:label="Context Menu Ext."
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Context Menu Ext.">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TriggerActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:launchMode="singleInstance" />

        <activity
            android:name=".FlashTriggerActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:launchMode="singleInstance" />

        <receiver
            android:name=".CommandReceiver"
            android:exported="true" />

        <receiver
            android:name=".UsbEventReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
